.App {
  display: flex;
  max-width: 50%;
  border: 1px solid black;
  margin: 50px auto;
  flex-direction: column;
  padding: 50px;

  .add-todo-wrapper {
    padding: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

    input {
      border: none;
      flex-grow: 1;
    }

    button {
      background-color: transparent;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 10px;
    }
  }
}

* {
  border-radius: 20px;
}

input:focus-visible {
  outline: none;
}